<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      Server <span ng-show="server.server.host">- {{ server.server.host }}<span ng-show="server.server.port">:{{ server.server.port }}</span></span>
    </h3>
  </div>

  <div class="panel-body">

    <form novalidate>

      <div class="row server-basic-info">

        <div class="form-group col-sm-6" ng-class="{'has-error': server.showErrorMessage('servers[0].host'), 'has-success': server.validJMXHost}">
          <label class="control-label">Host</label>
          <input type="text" class="form-control" ng-model="server.server.host"
                 ng-change="server.saved = false; server.loadJMXTree();">

          <p class="text-danger" ng-show="server.showErrorMessage('servers[0].host')">The submitted value is
            incorrect.</p>
        </div>

        <div class="form-group col-sm-6" ng-class="{'has-error': server.showErrorMessage('servers[0].port'), 'has-success': server.validJMXHost}">
          <label class="control-label">Port</label>
          <input type="text" class="form-control" ng-model="server.server.port"
                 ng-change="server.saved = false; server.loadJMXTree();">

          <p class="text-danger" ng-show="server.showErrorMessage('servers[0].port')">The submitted value is
            incorrect.</p>
        </div>

        <div class="form-group col-sm-6">
          <label class="control-label">Username</label>
          <input type="text" class="form-control" ng-model="server.server.username" ng-change="server.saved = false">
        </div>

        <div class="form-group col-sm-6">
          <label class="control-label">Password</label>
          <input type="password" class="form-control" ng-model="server.server.password"
                 ng-change="server.saved = false">
        </div>

      </div>

      <hr>

      <accordion close-others="false">

        <accordion-group ng-repeat="query in server.server.queries">
          <query server="server" query="query" index="$index"></query>
        </accordion-group>

        <accordion-group ng-show="server.blankQuery" is-open="true">
          <query server="server" query="server.blankQuery" index="server.server.queries.length"></query>
        </accordion-group>

      </accordion>

      <p class="text-danger" ng-show="server.showErrorMessage('servers[0].queries')">At least one query must be
        supplied.</p>



      <span class="col-sm-12 text-right">

        <button type="button" class="btn btn-info" ng-click="server.addBlankQuery()"
                style="display: inline-block;">Add a new query
        </button>

        <button type="button" class="btn btn-success" ng-click="server.save()" ng-hide="server.saved"
                style="display: inline-block;">
          Save changes
        </button>
      </span>

    </form>

  </div>

</div>

