<span>
	<div class="form-group">
		<label class="control-label">Host</label>
		<input type="text" class="form-control" ng-model="writer.settings.host">
	</div>

	<div class="form-group">
		<label class="control-label">Port</label>
		<input type="text" class="form-control" ng-model="writer.settings.port">
	</div>

	<div class="form-group">
		<label class="control-label">Addressing mode</label>
		<input type="text" class="form-control" ng-model="writer.settings.addressingMode">
	</div>

	<div class="form-group">
		<label class="control-label">TTL</label>
		<input type="text" class="form-control" ng-model="writer.settings.ttl">
	</div>

	<div class="form-group">
		<label class="control-label">Units</label>
		<input type="text" class="form-control" ng-model="writer.settings.units">
	</div>

	<div class="form-group">
		<label class="control-label">T max</label>
		<input type="text" class="form-control" ng-model="writer.settings.tmax">
	</div>

	<div class="form-group">
		<label class="control-label">D max</label>
		<input type="text" class="form-control" ng-model="writer.settings.dmax">
	</div>

	<div class="checkbox">
		<label class="control-label"><input type="checkbox" ng-model="writer.settings.v31"> V31</label>
	</div>

	<div class="checkbox">
		<label class="control-label"><input type="checkbox" ng-model="writer.settings.slope"> Slope</label>
	</div>

	<div class="checkbox">
		<label class="control-label"><input type="checkbox" ng-model="writer.settings.booleanAsNumber"> Boolean as number</label>
	</div>

	<div class="checkbox">
		<label class="control-label"><input type="checkbox" ng-model="writer.settings.ttl"> Debug</label>
	</div>
</span>
