@import '../../../../bower_components/bootswatch-scss/flatly/variables';
@import '../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../../../bower_components/bootswatch-scss/flatly/bootswatch';

button.btn-link {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.server-basic-info {
  padding-right: 5%;
  padding-left: 5%;
}

.query-info {
  padding-left: 5%;
  padding-right: 5%;
}

