<span>
	<div class="form-group">
		<label class="control-label">Host</label>
		<input type="text" class="form-control" ng-model="writer.settings.host">
	</div>

	<div class="form-group">
		<label class="control-label">Port</label>
		<input type="text" class="form-control" ng-model="writer.settings.port">
	</div>

	<div class="form-group">
		<label class="control-label">Root prefix</label>
		<input type="text" class="form-control" ng-model="writer.settings.rootPrefix">
	</div>

	<div class="checkbox">
		<label class="control-label"><input type="checkbox" ng-model="writer.settings.booleanAsNumber"> Boolean as number</label>
	</div>

	<div class="checkbox">
		<label class="control-label"><input type="checkbox" ng-model="writer.settings.ttl"> Debug</label>
	</div>
</span>
